#header-cab{
    background-color: #008891;
}

#header{
    background-color: #00587a;
}

.btn{
    width: 100%;
}

.nav-item{
    padding: 0 18px;
    margin-right: 4px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    padding-right: 10px;
}