.body{
    font-family: 'Montserrat';
}

#page-container{
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 8rem;
}

/* NavBar */


#title-and-bar{
    background-color: #e7e7de;
}

#header{
    background-color: 008891;
}

.navbar-brand{
    margin-right: 10px;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
    color: darkslategrey;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
    margin-right: 4px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    padding-right: 10px;
}
.container-fluid{
    padding: 3% 10%;
}

/* Search */

#info{
    background-color: whitesmoke;
}

.container{
    padding: 100px 0;
}

/* Results */

#results{
    height: auto;
    background-color: #008891;}

.card{
    margin-top: 20px;
    border-radius: 25px;
}

/* Footer */

#footer{
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: #0f3057;
}

.footer-link{
    font-family: 'Montreal', sans-serif;
    font-size: large;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 0;
    color: #11999E;
}

.cp-rt{
    margin-top: 40px;
    font-size: medium;
    color: white;
}

